{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "USCM ", "Forge ", "Adams " ],
      [ { "mode" : "alts" }, "Raging ", "Riot ", "Tango ", "Croc ", "Breaker ", "Bunker ", "Astrum ", "Hammer ", "Beret ", "Louis ", "Blackstone ", "Norsham ", "Raijin ", "Armstrong ", "Jacker ", "Monsoon ", "Hurricane ", "Nashorn ", "Avalanche " ],
      [ { "mode" : "alts" }, "Mk. I", "Mk. II", "Mk. III", "Mk. IV", "Mk. V", "Mongoose", "Buster", "Knockdown", "Eliminator", "Assassin", "Annihilator", "Terminator", "Roar", "Crusher", "" ]
    ]
  ]
}
