{
	"pieces" : {
		"fullShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [64, 0]
		},
		"topShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [0, 0]
		},
		"leftShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [8, 0]
		},
		"bottomShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [16, 0]
		},
		"rightShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [24, 0]
		},
		"topLeftShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [32, 0]
		},
		"topRightShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [40, 0]
		},
		"bottomLeftShadow" : {
		  "texture" : "/tiles/shadows.png",
		  "textureSize" : [8, 8],
		  "texturePosition" : [48, 0]
		},
		"bottomRightShadow" : {
			"texture" : "/tiles/shadows.png",
			"textureSize" : [8, 8],
			"texturePosition" : [56, 0]
		},
		
		"ILTE" : {
			"textureSize" : [4,4],
			"texturePosition" : [4,4],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"IRTE" : {
			"textureSize" : [4,4],
			"texturePosition" : [8,4],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"ILBE" : {
			"textureSize" : [4,4],
			"texturePosition" : [4,8],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"IRBE" : {
			"textureSize" : [4,4],
			"texturePosition" : [8,8],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		
		"OTE" : {
			"textureSize" : [8,4],
			"texturePosition" : [4,0],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"OBE" : {
			"textureSize" : [8,4],
			"texturePosition" : [4,12],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"OLE" : {
			"textureSize" : [4,8],
			"texturePosition" : [0,4],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"ORE" : {
			"textureSize" : [4,8],
			"texturePosition" : [12,4],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"OLTE" : {
			"textureSize" : [4,4],
			"texturePosition" : [0,0],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"ORTE" : {
			"textureSize" : [4,4],
			"texturePosition" : [12,0],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"OLBE" : {
			"textureSize" : [4,4],
			"texturePosition" : [0,12],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"ORBE" : {
			"textureSize" : [4,4],
			"texturePosition" : [12,12],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"base" : {
			"textureSize" : [8,8],
			"texturePosition" : [4,16],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"circleNW" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,32],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"circleNE" : {
			"textureSize" : [8,8],
			"texturePosition" : [8,32],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"circleSW" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,40],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"circleSE" : {
			"textureSize" : [8,8],
			"texturePosition" : [8,40],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"horizontal" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,24],
			"colorStride" : [0,0],
			"variantStride" : [8,0]
		},
		"pillarTopW" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,48],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"pillarTopE" : {
			"textureSize" : [8,8],
			"texturePosition" : [8,48],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"pillarMiddleW" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,56],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"pillarMiddleE" : {
			"textureSize" : [8,8],
			"texturePosition" : [8,56],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"pillarBottomW" : {
			"textureSize" : [8,8],
			"texturePosition" : [0,64],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		},
		"pillarBottomE" : {
			"textureSize" : [8,8],
			"texturePosition" : [8,64],
			"colorStride" : [0,0],
			"variantStride" : [0,0]
		}
	},
	"representativePiece": "single",
	"rules": {
		"EqualsSelf" : {
			"entries" : [
			{
				"type" : "EqualsSelf"
			}
			]
		},
		"NotEqualsSelf" : {
			"entries" : [
			{
				"type" : "EqualsSelf",
				"inverse" : true
			}
			]
		},
		"Connects" : {
			"entries" : [
			{
				"type" : "Connects"
			}
			]
		},
		"Empty" : {
			"entries" : [
			{
				"type" : "Connects",
				"inverse" : true
			}
			]
		}
	},
	"matches" : [
		["main", 
		[
			{
				"pieces" : [["base",[0,0]]]
			},
			{
				
				"subMatches" : [{
					"matchAllPoints" : [
						[[1,0],"NotEqualsSelf"]
					],
					"pieces" : [["ORE",[8,0]]],
					"subMatches" : [{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,1],"NotEqualsSelf"],
							[[0,1],"NotEqualsSelf"]
						],
						"pieces" : [["ORTE",[8,8]]]
					},{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,-1],"NotEqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["ORBE",[8,-4]]]
					},{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,1],"EqualsSelf"]
						],
						"pieces" : [["ILTE",[8,4]]]
					},{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,-1],"EqualsSelf"]
						],
						"pieces" : [["ILBE",[8,0]]]
					}]
				},
				{
					"matchAllPoints" : [
						[[-1,0],"NotEqualsSelf"]
					],
					"pieces" : [["OLE",[-4,0]]],
					"subMatches" : [{
						"matchAllPoints" : [
							[[-1,1],"NotEqualsSelf"],
							[[0,1],"NotEqualsSelf"],
							[[-1,0],"NotEqualsSelf"]
						],
						"pieces" : [["OLTE",[-4,8]]]
					},{
						"matchAllPoints" : [
							[[-1,0],"NotEqualsSelf"],
							[[-1,-1],"NotEqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["OLBE",[-4,-4]]]
					},{
						"matchAllPoints" : [
							[[-1,0],"NotEqualsSelf"],
							[[-1,1],"EqualsSelf"]
						],
						"pieces" : [["IRTE",[-4,4]]]
					},{
						"matchAllPoints" : [
							[[-1,0],"NotEqualsSelf"],
							[[-1,-1],"EqualsSelf"]
						],
						"pieces" : [["IRBE",[-4,0]]]
					}]

				},
				{
					"matchAllPoints" : [
						[[0,1],"NotEqualsSelf"]
					],
					"pieces" : [["OTE",[0,8]]],
					"subMatches" : [{
						"matchAllPoints" : [
							[[-1,1],"NotEqualsSelf"],
							[[0,1],"NotEqualsSelf"],
							[[-1,0],"NotEqualsSelf"]
						],
						"pieces" : [["OLTE",[-4,8]]]
					},{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,1],"NotEqualsSelf"],
							[[0,1],"NotEqualsSelf"]
						],
						"pieces" : [["ORTE",[8,8]]]
					},{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[1,1],"EqualsSelf"]
						],
						"pieces" : [["IRBE",[4,8]]]
					},{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[-1,1],"EqualsSelf"]
						],
						"pieces" : [["ILBE",[0,8]]]
					}]
				},
				{
					"matchAllPoints" : [
						[[0,-1],"NotEqualsSelf"]
					],
					"pieces" : [["OBE",[0,-4]]],
					"subMatches" : [{
						"matchAllPoints" : [
							[[-1,0],"NotEqualsSelf"],
							[[-1,-1],"NotEqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["OLBE",[-4,-4]]]
					},{
						"matchAllPoints" : [
							[[1,0],"NotEqualsSelf"],
							[[1,-1],"NotEqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["ORBE",[8,-4]]]
					},{
						"matchAllPoints" : [
							[[0,-1],"NotEqualsSelf"],
							[[1,-1],"EqualsSelf"]
						],
						"pieces" : [["IRTE",[4,-4]]]
					},{
						"matchAllPoints" : [
							[[0,-1],"NotEqualsSelf"],
							[[-1,-1],"EqualsSelf"]
						],
						"pieces" : [["ILTE",[0,-4]]]
					}]
				}
			]
				
			},
			{
				"requiredLayer" : "foreground",
				"subMatches" : [{
					"matchAllPoints" : [
						[[-1,0],"NotEqualsSelf"],
						[[1,0],"EqualsSelf"]
					],
					"haltOnSubMatch" : true,
					"subMatches" : [{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[0,-1],"EqualsSelf"],
							[[0,-2],"NotEqualsSelf"]
						],
						"pieces" : [["circleNW",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,2],"NotEqualsSelf"],
							[[0,1],"EqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["circleSW",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[0,-1],"EqualsSelf"],
							[[0,-2],"EqualsSelf"]
						],
						"pieces" : [["pillarTopW",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,1],"EqualsSelf"],
							[[0,-1],"EqualsSelf"]
						],
						"pieces" : [["pillarMiddleW",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,2],"EqualsSelf"],
							[[0,1],"EqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["pillarBottomW",[0,0]]]
					}]
				},
				{
					"matchAllPoints" : [
						[[-1,0],"EqualsSelf"],
						[[1,0],"NotEqualsSelf"]
					],
					"haltOnSubMatch" : true,
					"subMatches" : [{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[0,-1],"EqualsSelf"],
							[[0,-2],"NotEqualsSelf"]
						],
						"pieces" : [["circleNE",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,2],"NotEqualsSelf"],
							[[0,1],"EqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["circleSE",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,1],"NotEqualsSelf"],
							[[0,-1],"EqualsSelf"],
							[[0,-2],"EqualsSelf"]
						],
						"pieces" : [["pillarTopE",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,1],"EqualsSelf"],
							[[0,-1],"EqualsSelf"]
						],
						"pieces" : [["pillarMiddleE",[0,0]]]
					},
					{
						"matchAllPoints" : [
							[[0,2],"EqualsSelf"],
							[[0,1],"EqualsSelf"],
							[[0,-1],"NotEqualsSelf"]
						],
						"pieces" : [["pillarBottomE",[0,0]]]
					}]
				},
				{
					"matchAnyPoints" : [
						[[0,1],"NotEqualsSelf"],
						[[0,-1],"NotEqualsSelf"],
						[[1,0],"EqualsSelf"],
						[[-1,0],"EqualsSelf"]
					],
					"pieces" : [["horizontal",[0,0]]]
				}]
			},
			{
				"requiredLayer" : "background",
				"pieces" : [["horizontal",[0,0]]]
			}
		]
	]]
}