{
	"pieces" : {

	    "fullShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [64, 0]
	    },
	    "topShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [0, 0]
	    },
	    "leftShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [8, 0]
	    },
	    "bottomShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [16, 0]
	    },
	    "rightShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [24, 0]
	    },
	    "topLeftShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [32, 0]
	    },
	    "topRightShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [40, 0]
	    },
	    "bottomLeftShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [48, 0]
	    },
	    "bottomRightShadow" : {
	      "texture" : "/tiles/shadows.png",
	      "textureSize" : [8, 8],
	      "texturePosition" : [56, 0]
	    },

		"H" : {
     		"textureSize" : [8, 8],
      		"texturePosition" : [2, 2],
     		"colorStride" : [0, 0],
   	  		"variantStride" : [0, 0]
   	  	},
		"V" : {
      		"textureSize" : [8, 8],
      		"texturePosition" : [14, 2],
      		"colorStride" : [0, 0],
      		"variantStride" : [0, 0]
		},
		"Cross" : {
      		"textureSize" : [8, 8],
      		"texturePosition" : [26, 2],
      		"colorStride" : [0, 0],
      		"variantStride" : [0, 0]
		}
	},
	"rules" : {
		"EqualsSelf" : {
			"entries" : [{
          		"type" : "EqualsSelf"
        	}]
		},
		"NotEqualsSelf" : {
			"entries" : [{
          		"type" : "EqualsSelf",
          		"inverse" : true
        	}]
		}
	},
	"matches" : ["main",[{
		"matchAnyPoints" : [
			[[-1,0],"EqualsSelf"],
			[[1,0],"EqualsSelf"]
		],
		"pieces" : [["H",[0,0]]]
	},{
		"matchAnyPoints" : [
			[[0,-1],"EqualsSelf"],
			[[0,1],"EqualsSelf"]
		],
		"pieces" : [["V",[0,0]]]
	},{
		"matchAllPoints" : [
			[[-1,0],"EqualsSelf"],
			[[1,0],"EqualsSelf"],
			[[0,-1],"EqualsSelf"],
			[[0,1],"EqualsSelf"]
		],
		"pieces" : [["Cross",[0,0]]]
	}
	]]
}